body {
  box-sizing: border-box;
}
form {
  margin-top: 20px;
}
input {
  height: 24px;
}
button {
  width: 120px;
  height: 30px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  width: calc((100% - 120px) / 4);
  margin: 15px;

  list-style: none;
}
div.elements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 97vw;
  margin: 20px -15px -15px;
  padding: 0px;
}
div.stats {
  display: flex;
  justify-content: center;
}
.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats-item:not(:last-child) {
  margin-right: 10px;
}
button.load-more {
  margin-top: 50px;

  background-color: cyan;
}
